body {
    background: peru url("../assets/wall.jpg");
    margin: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*font-family: 'Cedarville Cursive', 'Roboto', sans-serif;*/
    font-family: 'Roboto', sans-serif;
}
.main-container {
    width: 80vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../assets/old-paper.avif");
    border: 2rem solid peru;
}
.intro-title {
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
}
.intro-text {
    font-size: 2rem;
    text-align: center; 
}
.intro-container {
    display: flex;
    flex-direction: column;
}
.book-form-container {
    display: flex;
    flex-direction: column;
}
.book-form {
    display: flex;
    flex-direction: column;
}
.form-inputs {
    display: flex;
    flex-direction: row;
}
.form-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 1rem;
    padding-bottom: 1rem;
}
.book-list-container {
    display: flex;
    flex-direction: column;
    width: 90%;
}
.book-list-header {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.book-list-header p {
    width: 25%;
}
#book-list {
    display: flex;
    flex-direction: column;
    margin-bottom: 10%;
}
.book {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    border: 1px solid green;
}
.book-detail {
    width: 25%;
}
.menu-text {
    font-size: 1.5rem;
    font-weight: 600;
}
.book-detail p {
    font-size: 1.5rem;
    font-weight: 600;
}
.book-form-container {
    width: 90%;
}