body {
    background: peru url("../assets/wall.jpg");
    margin: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*font-family: 'Cedarville Cursive', 'Roboto', sans-serif;*/
    font-family: 'Roboto', sans-serif;
}
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #764100;
    transition: opacity 0.5s, visibility 1s;
}
.loader-hidden {
    opacity: 0;
    visibility: hidden;
}
.loader::after {
    content: "";
    width: 175px;
    height: 175px;
    border: 35px solid orange;
    border-top-color: darkorange;
    border-radius: 50%;
    animation: loading 0.5s ease infinite;
}
@keyframes loading {
    from{
        transform: rotate(0turn);
    }
    to{
        transform: rotate(1turn);
    }
}
.main-container {
    width: 80vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../assets/old-paper.avif");
    border: 2rem solid peru;
    border-radius: 0.5rem;
}
.intro-title {
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
}
.intro-text {
    font-size: 2rem;
    text-align: center; 
}
.intro-container {
    display: flex;
    flex-direction: column;
}
.book-form-container {
    display: flex;
    flex-direction: column;
}
.book-form {
    display: flex;
    flex-direction: column;
}
.form-inputs {
    display: flex;
    flex-direction: row;
}
.form-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 1rem;
    padding-bottom: 1rem;
}
.book-list-container {
    display: flex;
    flex-direction: column;
    width: 90%;
}
.book-list-header {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.book-list-header p {
    width: 25%;
}
#book-list {
    display: flex;
    flex-direction: column;
    margin-bottom: 10%;
}
.book {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    border-top: 3px solid peru;
}
.book-detail {
    width: 25%;
}
.menu-text {
    font-size: 1.5rem;
    font-weight: 600;
}
.book-detail p {
    font-size: 1.5rem;
    font-weight: 600;
}
.book-form-container {
    width: 90%;
}
button {
    background-color:peru;
    color: black;
    font-size: 1rem;
    border: 3px solid #764100;
    border-radius: 0.5rem;
    text-transform: capitalize;
    width: 6rem;
    height: 2rem;
    text-align: center;
    font-weight: 800;
}